{% extends 'base.html.twig' %}

{% block title %}Technology index{% endblock %}

{% block body %}
<div class="container">
    <h1>Technology index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TechnologyName</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>BackgroundColor</th>
                <th>TextColor</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for technology in technologies %}
            <tr>
                <td>{{ technology.id }}</td>
                <td>{{ technology.technologyName }}</td>
                <td>{{ technology.createdAt ? technology.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ technology.updatedAt ? technology.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{% if technology.backgroundColor %}<div style="background: {{ technology.backgroundColor }}; border: 2px solid {{ technology.backgroundColor }}; height: 20px; width: 20px;"></div> {% endif %} </td>
                <td>{% if technology.textColor %}<div style="background: {{ technology.textColor }}; border: 2px solid {{ technology.textColor }}; height: 20px; width: 20px"></div>{% endif %}</td>
                <td>
                    <a href="{{ path('back_technology_show', {'id': technology.id}) }}">show</a>
                    <a href="{{ path('back_technology_edit', {'id': technology.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('back_technology_new') }}">Create new</a>
</div>
{% endblock %}
